<div class="container">
	<div class="card">
	  <div class="card_title">
		<h1>Create Account</h1>
		<span>Already have an account? <a routerLink="/Login">Sign In</a></span>
	  </div>
	  <div class="form">
	  <form action="/register" method="post" *ngIf="Dataform" [formGroup]="Dataform">
		<input type="text" name="username" formControlName="Username" id="username" placeholder="UserName" />
		<input type="email" name="email"  formControlName="Email" placeholder="Email" id="email" />
		<input type="password" name="password" formControlName="Password" placeholder="Password" id="password" />
		<button (click)="userragisterdata()" >Sign Up</button>
		</form>
	  </div>
	</div>
  </div>